* {
  font-family: 'Inter', system-ui;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

header {
  border-bottom: 1px solid #eaeaea;
}

.wrapper {
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.search-block {
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 10px;

  input {
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 200px;
    transform: translateY(-3px);

    &::placeholder {
      color: #c4c4c4;
    }
  }

  .deleteSearchBtn {
    position: absolute;
    top: 25%;
    right: 15px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  .emptyCart {
    transform: translateY(50%);

    h2 {
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: #000000;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      opacity: 0.4;
    }
  }
  
  .cartItems {
    overflow: auto;
  }

  .cartItem {
    padding: 30px 20px;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    width: 325px;
    overflow: hidden;

    p {
      margin: 0 0 8px 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }

    .content {
      width: 150px;
    }

    .deleteBtn {
      opacity: .7;
      cursor: pointer;
      transition: opacity .3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  .cartTotal {
    margin: 0 0 24px 0;

    li {
      display: flex;
      margin: 0 0 10px 0;
    }

    div {
      position: relative;
      top: -3px;
      flex: 1;
      margin: 0 7px;
      border-bottom: 1px dashed #dfdfdf;
    }
  }

  .orderBtn {
    padding: 20px;
    border: none;
    border-radius: 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
    color: #fff;
    cursor: pointer;
    background-color: #9dd558;
    transition: background-color .3s ease-in-out;

    &:disabled {
      animation: button-loading 1.2s ease-in-out infinite;
      background-color: #bebebe !important;
      cursor: default;
    }
    
    &:hover {
      background-color: lighten(#9dd558, 10%);
    }
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}


